html, body {
  background: #efeef4; }

.plane_city {
  margin-top: 1.2rem;
  background: #efeef4; }

.plane_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.13333rem; }

.plane_screen input {
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.13333rem;
  width: 90%;
  padding-left: 0.26667rem;
  text-align: center;
  color: #333333; }

.plane_city_tabs {
  display: flex;
  justify-content: center;
  align-items: center; }

.plane_city_tabs li {
  flex: 1;
  text-align: center;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.42667rem; }

.plane_city_tabs li.show {
  color: #00568f;
  border-bottom: 0.05333rem solid #00568f; }

.plane_city_history p {
  height: 0.66667rem;
  line-height: 0.66667rem; }

.plane_city_contents {
  position: relative;
  max-height: 14.8rem;
  overflow-y: auto; }

.plane_city_content {
  color: #bfbec4;
  padding-right: 0.2rem;
  text-indent: 0.4rem; }

.plane_city_line {
  flex: 1;
  border-bottom: 1px solid #bfbec4;
  height: 1px; }

.plane_city_content_line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.8rem;
  line-height: 0.8rem; }

.plane_city_contents div:first-child {
  margin-left: 0.4rem; }

.plane_city_contents div:first-child ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }

.plane_city_contents div:first-child ul li {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 2.4rem;
  border-radius: 0.06667rem;
  border: 1px solid #bfbec4;
  text-align: center;
  margin-right: 0.33333rem;
  margin-top: 0.26667rem;
  margin-bottom: 0.26667rem;
  text-indent: 0rem; }

.plane_city_contents div ul li {
  height: 0.8rem;
  line-height: 0.8rem;
  background: #ffffff;
  text-indent: 0.4rem; }

.plane_city_side {
  position: fixed;
  right: 10px;
  top: 2.4rem; }

.plane_city_side li {
  text-align: center;
  width: 0.66667rem;
  height: 0.64rem;
  font-size: 0.26667rem;
  color: #00568f; }
