.POWClass_wrap {
  padding-top: 1.2rem; }

.POWClass {
  margin-top: 0.53333rem; }

.POWClass_header {
  display: flex;
  background: #0075c2;
  height: 1.2rem;
  line-height: 1.2rem;
  margin-top: 1.2rem; }

.ion-chevron-left, .ion-ios-home-outline {
  font-size: 0.66667rem;
  color: white; }

.POWClass_header_center {
  color: white;
  text-align: center;
  flex: 1; }

.POWClass_header_left {
  padding-left: 0.13333rem; }

.POWClass_header_right {
  padding-right: 0.13333rem; }

.POWClass_wrap_content {
  height: 3.06667rem;
  background: white;
  border-bottom: 1px solid #c7c7cc; }

.POWClass_wrap_content_company {
  height: 1.06667rem;
  line-height: 1.06667rem;
  width: 95%;
  margin: 0 auto; }

.POWClass_wrap_content_company_time {
  float: right;
  text-align: right; }

.POWClass_wrap_content_company_flight img {
  width: 0.53333rem;
  height: 0.53333rem; }

.POWClass_wrap_content_startend {
  display: flex; }

.POWClass_wrap_content_startend > div {
  flex: 1;
  align-items: center; }

.POWClass_wrap_content_startend > div > div {
  text-align: center; }

.POWClass_wrap_content_long_img img {
  width: 2.26667rem; }

.POWClass_wrap_content_long_km {
  width: 1.73333rem;
  height: 0.4rem;
  line-height: 0.4rem;
  foot-size: 0.24rem;
  margin: 7px auto;
  background: #bfbfbf;
  color: #f6f6f6; }

.POWClass_wrap_content_start_time, .POWClass_wrap_content_end_time {
  color: #363636;
  font-size: 0.53333rem;
  font-weight: bold;
  padding: 0.13333rem; }

.POWClass_wrap_content_start_address, .POWClass_wrap_content_end_address {
  font-size: 0.37333rem;
  color: #666666; }

.POWClass_wrap_list {
  background: white;
  margin-top: 0.26667rem; }

.POWClass_wrap_list_sub {
  display: flex;
  height: 1.33333rem;
  line-height: 1.33333rem;
  width: 95%;
  border-bottom: 1px dashed #cacaca;
  margin: 0 auto;
  font-size: 0.37333rem; }

.POWClass_wrap_list_sub:last-child {
  border-bottom: 0px; }

.POWClass_wrap_list_sub p {
  flex: 1; }

.POWClass_wrap_list_sub_class {
  padding-right: 0.26667rem; }

.POWClass_wrap_list_sub_seat img {
  width: 0.37333rem;
  height: 0.37333rem; }

.conform {
  color: #63bd6e; }

.POWClass_wrap_list_sub_seat {
  width: 1.33333rem;
  margin-right: 0.26667rem;
  color: orange; }

.POWClass_wrap_list_sub_price {
  float: right; }

.POWClass_wrap_list_sub_price {
  color: orange;
  font-size: 0.37333rem; }
