body {
  background: #f5f8fa; }

.oneway {
  padding-top: 1.2rem; }

.oneway .nav {
  background: #0075c2;
  color: white;
  display: flex; }

.oneway .nav .left .ion-chevron-left, .oneway .nav .right .ion-ios-home-outline {
  color: white;
  padding: 0.13333rem;
  font-size: 0.42667rem;
  height: 1.2rem;
  line-height: 1.2rem; }

.oneway .nav .center {
  flex: 1;
  text-align: center;
  font-size: 0.42667rem;
  font-weight: bold;
  height: 1.2rem;
  line-height: 1.2rem; }

.oneway .section {
  display: flex;
  height: 1.2rem;
  margin-bottom: 0.26667rem;
  background: white; }

.oneway .section .dataPrice {
  flex: 1;
  display: flex;
  font-size: 0.32rem;
  height: 1.2rem; }

.oneway .section .dataPrice > div {
  flex: 1;
  text-align: center; }

.oneway .section .dataPrice > div > div {
  color: #0075c2;
  height: 0.6rem;
  line-height: 0.6rem; }

.oneway .main {
  max-height: 13.6rem;
  overflow-y: auto; }

.oneway .main .datalist {
  width: 95%;
  background: white;
  margin: 0 auto;
  border-radius: 0.13333rem;
  height: 2.33333rem;
  border-bottom: 1px solid #c8c7cc; }

.oneway .main .datalist .startEndPrice {
  display: flex; }

.oneway .main .datalist .startEndPrice > div {
  flex: 1;
  text-align: center; }

.oneway .main .datalist .startEndPrice .plainImg {
  flex: 0;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 1.33333rem; }

.oneway .main .datalist .startEndPrice .price .seat img {
  width: 0.32rem;
  height: 0.32rem; }

.oneway .main .datalist .startEndPrice > div > div {
  height: 0.8rem;
  line-height: 0.8rem; }

.oneway .main .datalist .startEndPrice > div > div:first-child {
  font-weight: bold;
  font-size: 0.37333rem;
  height: 0.8rem;
  line-height: 0.8rem; }

.oneway .main .datalist .startEndPrice > div > div {
  font-size: 0.32rem;
  color: #666666; }

.oneway .main .datalist .startEndPrice .plainImg img {
  width: 0.53333rem;
  height: 0.53333rem; }

.oneway .main .datalist .startEndPrice > div .num {
  color: #f66708; }

.oneway .main .datalist .startEndPrice > div .priceNow {
  color: #f66708; }

.oneway .main .datalist .flight {
  display: flex;
  flex: 1;
  font-size: 0.32rem;
  height: 0.66667rem;
  line-height: 0.66667rem;
  justify-content: center;
  align-items: center;
  color: #666666; }

.oneway .main .datalist .flight > div:first-child {
  flex: 1.5;
  text-align: left; }

.oneway .main .datalist .flight > div {
  flex: 1;
  text-align: center; }

.oneway .main .datalist .flight > div:nth-child(2) {
  text-align: left; }

.mian_flight_img img {
  height: 0.37333rem;
  width: 0.37333rem;
  margin-left: 0.13333rem; }

.oneway_footer {
  position: fixed;
  bottom: 0px;
  background: white;
  color: #848585;
  height: 1.46667rem;
  line-height: 1.46667rem;
  display: flex;
  text-align: center;
  width: 100%;
  border-top: 1px solid #bbbbbc; }

.oneway_footer > ul {
  flex: 1;
  height: 1.46667rem;
  line-height: 1.46667rem; }

.oneway_footer > ul > li {
  height: 0.66667rem;
  line-height: 0.66667rem;
  padding: 0.13333rem; }

.oneway_footer .footer_screen_img img,
.oneway_footer .footer_time_img img,
.oneway_footer .footer_price_img img {
  width: 0.66667rem;
  height: 0.66667rem; }
