<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../lib/ionic/css/ionic.min.css">
    <link rel="stylesheet" href="../../css/plain.violate.css">


    <script src="../../lib/ionic/js/ionic.bundle.js"></script>
    <script src="../../lib/jquery/dist/jquery.js"></script>

    <script src="../../lib/flexible/flexible.debug.js"></script>
    <script src="../../lib/flexible/flexible_css.debug.js"></script>


</head>
<body>

      <!--违反差旅规定-->
    <div class="plain_violate">


      <heaher class="plain_violate_header">
        <div class="plain_violate_header_left">
          <a class="ion-chevron-left"></a>
        </div>

        <div class="plain_violate_header_center">违反差旅规定</div>
        <div class="plain_violate_header_right">
          <a class="ion-ios-home-outline"></a>
        </div>

       </heaher>

        <div class="plain_violate_content">
          <div class="plain_violate_content_hint">
           <span><img src="../../img/plain/hint.png" alt=""></span>目前该舱位仅剩7个座位，请尽快完成预定

          </div>
          <div class="plain_violate_content_question">
            根据贵公司差旅政策，你未能①提前20天预定机票；②选择同航班最低价格；故请你选择原因：

          </div>

          <ul class="plain_violate_content_question_list">
            <li class="plain_violate_content_question_list_sub">
                  <span class="content">陪同领导或客户</span>
                  <span class="img"><img src="../../img/plain/check.png" alt=""></span>
            </li>

            <li class="plain_violate_content_question_list_sub">
                  <span class="content">航空公司偏好</span>
                  <span class="img"><img src="../../img/plain/check.png" alt=""></span>
            </li>

            <li class="plain_violate_content_question_list_sub">
              <span class="content">机场选择</span>
              <span class="img"><img src="../../img/plain/check.png" alt=""></span>
            </li>

            <li class="plain_violate_content_question_list_sub">
              <span class="content">改签或者退票原因</span>
              <span class="img"><img src="../../img/plain/check.png" alt=""></span>
            </li>

            <li class="plain_violate_content_question_list_sub">
              <span class="content">起飞或到达时间不合适</span>
              <span class="img"><img src="../../img/plain/check.png" alt=""></span>
            </li>

            <li class="plain_violate_content_question_list_sub">
              <span class="content">机型、路线、航班周期不被接受</span>
              <span class="img"><img src="../../img/plain/check.png" alt=""></span>
            </li>


            <li class="plain_violate_content_question_list_sub">
              <span class="content">得到特别审批</span>
              <span class="img"><img src="../../img/plain/check.png" alt=""></span>
            </li>


          </ul>


          <div class="plain_violate_content_question_edit">

            <span class="img"><img src="../../img/plain/edit.png" alt=""></span>
            <span class="content">修改航班信息</span>
          </div>

          <div class="plain_violate_content_question_sure">

              确定
          </div>

        </div>


    </div>

</body>
</html>
