

<ion-view style="background: #f5f8fa;height: 100%;">


  <ion-nav-back-button class="button button-clear button-back">
    <i class="ion-ios-arrow-back"></i>
  </ion-nav-back-button>
  <ion-nav-title>北京——上海</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-small button-clear"><i class="ion-ios-home-outline" style="font-size:20px"></i></button>
  </ion-nav-buttons>


  <div class="POWClass">

    <!--<div class="POWClass_header">-->
          <!--<div class="POWClass_header_left">-->
            <!--<a class="ion-chevron-left"></a>-->
          <!--</div>-->

          <!--<div class="POWClass_header_center">-->
            <!--北京&#45;&#45;上海-->
          <!--</div>-->
          <!--<div class="POWClass_header_right">-->
            <!--<a class="ion-ios-home-outline"></a>-->

          <!--</div>-->

    <!--</div>-->

    <div class="POWClass_wrap">


        <div class="POWClass_wrap_content">
            <div class="POWClass_wrap_content_company">
              <span class="POWClass_wrap_content_company_flight"><img src="../../img/plain/company.png" alt="">中国东方航空公司G56005</span>
              <span class="POWClass_wrap_content_company_time">4月27日 周五</span>
            </div>
            <div class="POWClass_wrap_content_startend">
                  <div class="POWClass_wrap_content_start">
                    <div class="POWClass_wrap_content_start_time">
                          23:34
                    </div>

                    <div class="POWClass_wrap_content_start_address">
                          首都T3
                    </div>

                  </div>

                  <div class="POWClass_wrap_content_long">
                    <div class="POWClass_wrap_content_long_img">
                      <img src="../../img/plain/plane.png" alt="">
                    </div>

                    <div class="POWClass_wrap_content_long_km">
                      1117公里
                    </div>

                    <div class="POWClass_wrap_content_long_time">
                      1小时35分钟
                    </div>

                  </div>

                  <div class="POWClass_wrap_content_end">
                    <div class="POWClass_wrap_content_end_time">
                      16:22
                    </div>

                    <div class="POWClass_wrap_content_end_address">
                      虹桥T3
                    </div>

                  </div>

            </div>


        </div>

        <ul class="POWClass_wrap_list">


              <li class="POWClass_wrap_list_sub" ui-sref="plane-person-add">
                <p>

                   <span class="POWClass_wrap_list_sub_class">经济舱（Y）</span>
                   <span class="conform">符合</span>

                </p>

                <p>
                   <span class="POWClass_wrap_list_sub_seat">
                      <img src="../../img/plain/seat.png" >
                      <span> > </span>
                      9
                    </span>

                  <span class="POWClass_wrap_list_sub_price_class">全价</span>
                  <span class="POWClass_wrap_list_sub_price">¥ 1235</span>

                </p>


              </li>

              <li class="POWClass_wrap_list_sub">
            <p>

              <span class="POWClass_wrap_list_sub_class">经济舱（Y）</span>
              <span class="conform">符合</span>

            </p>

            <p>
                   <span class="POWClass_wrap_list_sub_seat">
                      <img src="../../img/plain/seat.png">
                      <span> > </span>
                      9
                    </span>

              <span class="POWClass_wrap_list_sub_price_class">全价</span>
              <span class="POWClass_wrap_list_sub_price">¥ 1235</span>

            </p>


          </li>

              <li class="POWClass_wrap_list_sub">
                <p>

                  <span class="POWClass_wrap_list_sub_class">经济舱（Y）</span>
                  <span class="conform">符合</span>

                </p>

                <p>
                       <span class="POWClass_wrap_list_sub_seat">
                          <img src="../../img/plain/seat.png" alt="">
                          <span> > </span>
                          9
                        </span>

                  <span class="POWClass_wrap_list_sub_price_class">全价</span>
                  <span class="POWClass_wrap_list_sub_price">¥ 1235</span>

                </p>


              </li>


              <li class="POWClass_wrap_list_sub">
                <p>

                  <span class="POWClass_wrap_list_sub_class">经济舱（Y）</span>
                  <span class="conform">符合</span>

                </p>

                <p>
                       <span class="POWClass_wrap_list_sub_seat">
                          <img src="../../img/plain/seat.png" alt="">
                          <span> > </span>
                          9
                        </span>

                  <span class="POWClass_wrap_list_sub_price_class">全价</span>
                  <span class="POWClass_wrap_list_sub_price">¥ 1235</span>

                </p>


              </li>

              <li class="POWClass_wrap_list_sub">
              <p>

                <span class="POWClass_wrap_list_sub_class">经济舱（Y）</span>
                <span class="conform">符合</span>

              </p>

              <p>
                     <span class="POWClass_wrap_list_sub_seat">
                        <img src="../../img/plain/seat.png" alt="">
                        <span> > </span>
                        9
                      </span>

                <span class="POWClass_wrap_list_sub_price_class">全价</span>
                <span class="POWClass_wrap_list_sub_price">¥ 1235</span>

              </p>


            </li>

              <li class="POWClass_wrap_list_sub">
                <p>

                  <span class="POWClass_wrap_list_sub_class">经济舱（Y）</span>
                  <span class="conform">符合</span>

                </p>

                <p>
                           <span class="POWClass_wrap_list_sub_seat">
                              <img src="../../img/plain/seat.png" alt="">
                              <span> > </span>
                              9
                            </span>

                  <span class="POWClass_wrap_list_sub_price_class">全价</span>
                  <span class="POWClass_wrap_list_sub_price">¥ 1235</span>

                </p>


              </li>

              <li class="POWClass_wrap_list_sub">
                <p>

                  <span class="POWClass_wrap_list_sub_class">经济舱（Y）</span>
                  <span class="conform">符合</span>

                </p>

                <p>
                           <span class="POWClass_wrap_list_sub_seat">
                              <img src="../../img/plain/seat.png" alt="">
                              <span> > </span>
                              9
                            </span>

                  <span class="POWClass_wrap_list_sub_price_class">全价</span>
                  <span class="POWClass_wrap_list_sub_price">¥ 1235</span>

                </p>


              </li>

              <li class="POWClass_wrap_list_sub">
            <p>

              <span class="POWClass_wrap_list_sub_class">经济舱（Y）</span>
              <span class="conform">符合</span>

            </p>

            <p>
                     <span class="POWClass_wrap_list_sub_seat">
                        <img src="../../img/plain/seat.png" alt="">
                        <span> > </span>
                        9
                      </span>

              <span class="POWClass_wrap_list_sub_price_class">全价</span>
              <span class="POWClass_wrap_list_sub_price">¥ 1235</span>

            </p>


          </li>


        </ul>



    </div>



  </div>

</ion-view>


