
<ion-view style="background: #f5f8fa;height: 100%;">

  <ion-nav-title>北京——上海</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-small button-clear"><i class="ion-ios-home-outline" style="font-size:20px"></i></button>
  </ion-nav-buttons>


  <div class="plain_person">


          <!--<div class="plain_person_header">-->
            <!--<div class="plain_person_header_back">-->
              <!--<img src="../../img/plain/back.png" alt="">-->
            <!--</div>-->
            <!--<div class="plain_person_header_content">-->
              <!--<span class="plain_person_header_content_start">北京</span>-->
              <!--<span class="plain_person_header_content_img"><img src="../../img/plain/go.png" alt=""></span>-->
              <!--<span class="plain_person_header_content_end">上海</span>-->
            <!--</div>-->
            <!--<div class="plain_person_header_home">-->
              <!--<img src="../../img/plain/home.png" alt="">-->
            <!--</div>-->
          <!--</div>-->

          <div class="plain_person_wrap">

            <div class="plain_person_content">
                  <div class="plain_person_content_company">
                      <span class="plain_person_content_num">
                        <img src="../../img/plain/company.png" alt="">
                        东航G56005
                      </span>
                      <span class="plain_person_content_class">
                        经济舱（Y）
                      </span>

                       <span class="plain_person_content_time">
                        4月27日 周五
                      </span>

                  </div>
                  <div class="plain_person_content_main">
                    <div class="plain_person_content_startend">
                      <div class="plain_person_content_start">
                            <div class="plain_person_content_start_time">23:34</div>
                            <div class="plain_person_content_start_adress">首都T3</div>
                      </div>
                      <div class="plain_person_content_time_km">
                              <div class="img"><img src="../../img/plain/plane.png" alt=""></div>
                              <div class="km">1117公里</div>
                              <div class="plain_person_content_time_km_time">1小时35分钟</div>
                      </div>

                      <div class="plain_person_content_end">
                        <div class="plain_person_content_end_time">16:11</div>
                        <div class="plain_person_content_end_adress">虹桥T3</div>
                      </div>
                    </div>

                    <div class="plain_person_content_pricecontent">

                         <div class="plain_person_content_pricecontentup">
                            <div class="plain_person_content_price">
                              <span class="plain_person_content_class">成人票价：¥</span>
                              <span class="plain_person_content_price">1234X1</span>
                            </div>

                            <div class="plain_person_content_capital">
                              <span class="plain_person_content_class">基建+燃油 : ¥</span>
                              <span class="plain_person_content_price">50X1</span>
                            </div>
                         </div>

                         <div class="plain_person_content_pricecontentdown">
                          <span class="plain_person_content_priceCDleft">
                                提供餐食

                          </span>

                          <span class="plain_person_content_priceCDcenter">
                                不支持改签

                          </span>

                          <span class="plain_person_content_priceCDcenter">
                                <a href="#">退改签规则</a>

                          </span>


                      </div>



                    </div>

                  </div>
                  <div class="plain_person_content_left"></div>
                  <div class="plain_person_content_right"></div>

            </div>
            <div class="plain_person_num">
              <div class="plain_person_num_wrap">
                <div class="plain_person_num_person">
                  <span class="plain_person_num_personcont">乘机人</span>
                  <span class="plain_person_num_personimg" ui-sref="plane-person-add-up-sub"><img src="../../img/plain/add_button.png" alt=""></span>
                </div>
                <div class="plain_person_num_person_name">
                  <span class="plain_person_num_personName">卢建明</span>
                  <span class="plain_person_num_personNum">23456******654</span>
                </div>
              </div>

            </div>

            <div class="plain_person_Tel">

              <div class="plain_person_Tel_wrap">
                <div class="plain_person_Tel_person">
                  <span class="plain_person_Tel_personcont">联系人</span>
                  <span class="plain_person_Tel_personName">更改联系人</span>
                </div>
                <div class="plain_person_tel_person_name">
                  <span class="plain_person_tel_personName">卢建明</span>
                  <span class="plain_person_tel_personTel">12345678</span>
                </div>

              </div>



            </div>

            <div class="plain_person_children">

              <div class="plain_person_children_wrap">


                <div class="plain_person_child">
                  <span class="plain_person_child_btn"><img src="../../img/plain/check.png" alt="">带儿童（2-12岁）</span>
                  <span class="plain_person_child_btn"><img src="../../img/plain/check.png" alt="">带婴儿（2以下）</span>
                  <span class="plain_person_child_btna">儿童/婴儿票 <img src="../../img/plain/question.png" alt=""></span>
                </div>

                <div class="plain_person_child">
                    <label>

                      <span>航空意外险&nbsp;&nbsp;¥ <a class="plain_color">20</a>/份</span>

                      <span>航空意外险&nbsp;&nbsp;¥ <a class="plain_color">40</a>万/份</span>

                      <span class="plain_label_right"><img src="../../img/plain/juxing.png" alt=""></span>

                    </label>
                </div>
                <div class="plain_person_child">

                    <label>
                      <span>航空意外险&nbsp;&nbsp;¥ <a class="plain_color">30</a>/份</span>

                      <span>航空意外险&nbsp;&nbsp;¥ <a class="plain_color">60</a>万/份</span>

                      <span class="plain_label_right"><img src="../../img/plain/juxing.png" alt=""></span>
                    </label>
                </div>



            </div>







            </div>

            <p class="plain_person_danger">
              关于民航乘客携带锂电池及危险品乘机的限制乘机须知

            </p>

          </div>


          <div class="plain_person_footer">
            <div class="plain_person_footer_total">
              ¥<span class="plain_color plain_person_footer_total_pricce">1285</span>
            </div>
            <div class="plain_person_footer_agree">同意以上协议条款并预定
          </div>




        </div>

    </div>



</ion-view>
