<ion-view style="background: #f5f8fa;height: 100%;">

  <ion-nav-back-button class="button-clear">
    取消
  </ion-nav-back-button>
  <ion-nav-title>新增乘机人</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-small button-clear">保存</button>
  </ion-nav-buttons>


  <!--添加人员-->
    <div class="ppaus">
            <div class="ppaus_add" ui-sref="plane-person-add-sub">
              <span class="ppaus_add_img"><img src="../../img/plain/add_button.png" alt="">新增乘机人</span>
            </div>

            <div class="ppaus_hint">
              此票不支持儿童和婴儿票
            </div>

            <div class="ppaus_content">
                <div class="ppaus_content_img">
                  <img src="../../img/plain/checkbox.png" alt="">
                </div>
                <div class="ppaus_content_main">
                  <div class="ppaus_content_main_name">户建明 <span class="ppaus_content_main_class">成人票</span></div>
                  <div class="ppaus_content_main_id">身份证24342345234*****23432</div>
                  <div class="ppaus_content_main_tel">12345678</div>
                </div>
                <div class="ppaus_content_edit">
                  <img src="../../img/plain/edit.png" alt="">
                </div>
            </div>


    </div>




</ion-view>
